# Browserslist for Angular projects (2026)
# See: https://github.com/browserslist/browserslist#queries
#      https://angular.io/guide/browser-support

# Recommended default for most apps:
> 0.5%
last 2 versions
Firefox ESR
not dead

# Explicitly drop legacy IE
not IE 11
